---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Breakpoint variables
$mobile: "(min-width: 0px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 979px)";
$tablet-up: "(min-width: 768px)";
$desktop: "(min-width: 980px)";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "variables",
  "functions",
  "base/reset",
  "base/elements",
  "layout/layout-site-container",
  "layout/layout-primary-first",
  "layout/layout-primary-second",
  "layout/layout-halves",
  "layout/layout-thirds",
  "components/alert",
  "components/byline",
  "components/community-section",
  "components/contact-block",
  "components/copy-emphasis",
  "components/cv-page-title",
  "components/cv-section",
  "components/education-qualification",
  "components/employment",
  "components/header",
  "components/horizontal-social-links",
  "components/icon",
  "components/image-block",
  "components/inline-content",
  "components/introduction",
  "components/main-navigation",
  "components/page-break",
  "components/paper",
  "components/rwd-break",
  "components/sentence-link",
  "components/session-group",
  "components/teaser",
  "components/visually-hidden"
;
