---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

// $mobile: 767px;
// $tablet: 768px;
// $desktop: 980px;

$mobile: "(min-width: 0px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 979px)";
$tablet-up: "(min-width: 768px)";
$desktop: "(min-width: 980px)";

.wrapper {
  @media #{$mobile} {
    background: red;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base/reset",
        "base/elements",
        "layout/layout",
        "layout/layout-primary-first",
        "layout/layout-primary-second",
        "layout/layout-halves",
        "layout/layout-thirds",
        "components/header",
        "components/footer",
        "components/main-navigation"
;
