/**
 * @file
 *  Reusable styles across the site specific to the design of the site.
 */

.huge-heading {
  font-size: 94px;
}

.inline-links > li {
  float: left;
  margin-right: 2%;
}

.float-right {
  float:right;
}
