/**
 * @file
 * Variables used in the Sass.
 */

$pink: #ff6666;
$seagreen: #229569;
$lightgrey: #bbbbbb;
$blue: #107FC9;
$white: #ffffff;
// Icon colours
$gmail: #dd4b39;
$twitter: #55acee;
$instagram: #3f729b;
$drupal: #0074bd;
$github: #333333;
$skype: #00aff0;
$call: #A40778;
// Icon hover colours
$gmail-darken: darken($gmail, 25%);
$twitter-darken: darken($twitter, 25%);
$drupal-darken: darken($drupal, 25%);
$github-lighten: lighten($github, 25%);
$skype-darken: darken($skype, 25%);
$call-darken: darken($call, 25%);
$instagram-darken: darken($instagram, 25%);
