---
layout: about
title: About
byline: Emma Maria
intro:
permalink: /about/
menu-title: About
---

<header class="header header--home clearfix" role="banner">
  <div class="header__inner site-container">
    {% include navigation.html %}
    <div class="header__content">
      <h1 class="huge-heading">
        {{ page.title }}
      </h1>
      <h2 class="byline">
        {{ page.byline }}
      </h2>
    </div>
  </div>
</header>

<main class="main site-container">
  <div class="layout-primary-second clearfix">
    <div class="layout-primary-second__secondary">
      <p class="intro">Intro</p>
      <h2>Community</h2>
        All the things I do.
    </div>
    <div class="layout-primary-second__primary">

      <h2>Articles</h2>

        <!-- Article teasers -->
        {% for article in site.articles reversed %}
          <section class="article-teaser">
            <h3>{{ article.title }}</h2>
            <p>{{ article.date }}</p>
            <a href="{{ article.link }}">Read more</a>
          </section>
        {% endfor %}

      <h2>Presentations</h2>
        <!-- Presentation teasers -->
        <section class="speaking-teaser">
          {% for presentation in site.presentations reversed %}
          <p>{{ presentation.status }}</p>
          <h3>{{ presentation.title }}</h2>
          <p>{{ presentation.date }}</p>
          <a href="{{ presentation.event-link}}">{{ presentation.event-name}}</a>
          <a href="{{ presentation.slides }}">Slides</a>
          <a href="{{ presentation.video }}">Video</a>
        </section>
      {% endfor %}

    </div>
  </div>
</main>
