---
layout: page
title: About
byline: Emma Maria
intro:
permalink: /about/
menu-title: About
---
<h3>Ten random facts</h3>


<h3>Community</h3>
  All the things I do.

<h3>Articles</h3>
  <!-- Article teasers -->
{% for article in site.articles reversed %}
  <h2>{{ article.title }}</h2>
  <p>{{ article.date }}</p>
  <a href="{{ article.link }}">Read more</a>
{% endfor %}

<h3>Presentations</h3>
  <!-- Presentation teasers -->
  {% for presentation in site.presentations reversed %}
  <p>{{ presentation.status }}</p>
  <h2>{{ presentation.title }}</h2>
  <p>{{ presentation.date }}</p>
  <a href="{{ presentation.event-link}}">{{ presentation.event-name}}</a>
  <a href="{{ presentation.slides }}">Slides</a>
  <a href="{{ presentation.video }}">Video</a>
{% endfor %}

<h3>Projects</h3>
  <!-- Project teasers -->
  This site
  Bartik
  u-blox
  ns-group
  Venture
  The Voice

