---
layout: default
title: Emma Maria Karayiannis
byline: in the Drupal commmunity.
intro:
permalink: /community/
menu-title: Drupal
weight: 1
---

<header class="header" role="banner">
  <div class="site-container">
    {% include navigation.html %}
    <div class="header__content">
      <h1>{{ page.title }}</h1>
      <p class="byline">in the Drupal commmunity</p>
    </div>
  </div>
</header>

<main class="main-content site-container">
  <section class="layout-primary-second community-section">
    <header class="layout-primary-second__secondary">
      <h2>Drupal contributions</h2>
    </header>
    <div class="layout-primary-second__primary ">
      <ul class="layout-primary-second__list">
        <li>Maintainer of the Drupal 8 Core theme Bartik.</li>
        <li>Mentoring new contributors at sprints.</li>
        <li>Organising/hosting sprints at Camps.</li>
        <li>Organiser of Drupalcamp Brighton.</li>
        <li>Organiser of Frontend United.</li>
        <li>Active contributor to Drupal 8.</li>
        <li>Helped maked Drupal.org responsive.</li>
        <li>
    </div>
  </section>

  <section class="layout-primary-second community-section">
    <header class="layout-primary-second__secondary">
      <h2>Presentations</h2>
    </header>
    <div class="layout-primary-second__primary">
      <!-- Presentation teasers -->
      {% for presentation in site.presentations reversed %}
        <section class="teaser layout-primary-second__teaser">
          {% if presentation.status %}
            <p class="teaser__status">{{ presentation.status }}</p>
          {% endif %}
          <h3 class="teaser__title">{{ presentation.title }}</h2>
          <p class="teaser__subtitle">{{ presentation.event-name}}</p>
          <a class="teaser__link inline-content inline-content--spacing" href="{{ presentation.slides }}">Slides</a>
          <a class="teaser__link inline-content inline-content--spacing" href="{{ presentation.video }}">Video</a>
        </section>
      {% endfor %}
    </div>
  </section>

  <section class="layout-primary-second community-section">
    <header class="layout-primary-second__secondary">
      <h2>Blog posts</h2>
    </header>
    <div class="layout-primary-second__primary">
      <!-- Article teasers -->
      {% for article in site.articles reversed %}
        <section class="teaser layout-primary-second__teaser">
          <h3 class="teaser__title">{{ article.title }}</h2>
          <p class="teaser__date"><time>{{ article.date }}</time></p>
          <a class="teaser__link" href="{{ article.link }}">Read more</a>
        </section>
      {% endfor %}
    </div>
  </section>

</main>
