---
layout: default
title: Emma Maria Karayiannis
byline: in the Drupal commmunity.
intro:
permalink: /community/
menu-title: Drupal
weight: 1
---

<header class="header" role="banner">
  <div class="layout-site-container">
    {% include navigation.html %}
    <div class="header__content">
      <h1>{{ page.title }}</h1>
      <p class="byline">in the Drupal commmunity</p>
    </div>
  </div>
</header>
<main class="layout-site-container">
  <section class="community-section">
    <header class="">
      <h2 class="community-section__title">Drupal contributions</h2>
    </header>
    <div class="">
      <ul class="">
        <li>Active contributor to <a class="sentence-link" href="http://cgit.drupalcode.org/drupal/log/?qt=grep&q=emma.maria" target="_blank">Drupal 8 Core</a>.</li>
        <li>Maintainer of the Drupal 8 Core theme Bartik.</li>
        <li>Sprint mentor at DrupalCons and DrupalCamps</li>
        <li>Sprint organiser at DrupalCamps.</li>
        <li>Organiser of <a class="sentence-link" href="http://frontendunited.org/about/" target="_blank">Frontend United 2015</a> and DrupalCamp Brighton 2015.</li>
        <li>Part of the team that made <a class="sentence-link" href="https://assoc.drupal.org/blog/tvn/drupal.org-team-week-notes-30" target="_blank">Drupal.org responsive.</a></li>
        <li>
      </ul>
    </div>
  </section>
  <section class="community-section">
    <header class="">
      <h2 class="community-section__title">Speaking</h2>
    </header>
    <div class="">
      {% for presentation in site.presentations reversed %}
        <article class="teaser">
          {% if presentation.status %}
            <p class="teaser__status">{{ presentation.status }}</p>
            <p>{{ presentation.date }}</p>
          {% endif %}
          <h3>{{ presentation.title }}</h3>
          {% if presentation.status %}
            <a class="teaser__link" href="{{ presentation.event-link }}" target="_blank">{{ presentation.event-name }}</a>
          {% else %}
            <p>{{ presentation.event-name }}</p>
          {% endif %}
          {% if presentation.slides %}
            <a class="teaser__link inline-content--tablet-up inline-content--more-spacing" href="{{ presentation.slides }}" target="_blank">Slides</a>
          {% endif %}
          {% if presentation.video %}
            <a class="teaser__link inline-content--tablet-up inline-content--more-spacing" href="{{ presentation.video }}" target="_blank">Video</a>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </section>
  <section class="community-section">
    <header class="">
      <h2 class="community-section__title">Blog posts</h2>
    </header>
    <div class="">
      {% for article in site.articles reversed %}
        <article class="teaser">
          <h3>{{ article.title }}</h3>
          <p><time>{{ article.date }}</time></p>
          <a class="teaser__link" href="{{ article.link }}" target="_blank">Read more</a>
        </article>
      {% endfor %}
    </div>
  </section>
</main>
