/**
 * @file
 * Styles for the Byline component.
 */

.byline {
  font-size: em(32);
  line-height: em(40,32);
  font-weight: 600;
  padding-top: em(10);
  @media #{$tablet-up} {
    padding-top: em(5);
  }
}
