/**
 * @file
 * Styles for the Contact block.
 */

.contact-block {
  padding-top: em(15);
}
.contact-block__link {
  font-weight: 600;
  white-space: nowrap;
  font-size: em(22);
  line-height: em(36, 22);
  @media #{$tablet-up} {
    line-height: em(38, 20);
  }
}
