/**
 * @file
 * Styles for the content sections on the CV page.
 */

.cv-section__title {
  font-size: em(32);
  margin-bottom: em(20, 32);
}

// Styles for the main sections of the CV.
.cv-section {
  padding: em(30) 0;
  border-bottom: 1px solid $lightgrey;
  &:last-child {
    border-bottom: 0;
  }
}
.cv-section--header {
  @media #{$mobile} {
    padding-top: 0;
  }
}

// Styles for the sections within the main sections.
.cv-section__sub-section {
  margin-bottom: em(20);
  &:last-child {
    margin: 0;
  }
}
.cv-section__sub-section-title {
  font-size: em(25);
  margin-bottom: em(5,25);
  @media #{$tablet-up} {
    margin-bottom: em(5,25);
  }
}

@media screen {
  .cv-section--reference {
    display: none;
  }
}

.cv-section__sub-section-title--languages {
  margin-bottom: 10px;
}

.cv-section__sub-section--languages li {
  margin-bottom: 5px;
}
