/**
 * @file
 * ...
 */

.cv-section__title {
  margin-bottom: 20px;
}

// Styles for the main sections of the CV.
.cv-section {
  padding: 30px 0;
  @media #{$tablet-up} {
    padding: 40px 0;
  }
  border-bottom: 1px solid lightgrey;
  &:last-child {
    border-bottom: 0;
  }
}
.cv-section--header {
  @media #{$mobile} {
    padding-top: 0;
  }
}

// Styles for the sections within the main sections.
.cv-section__sub-section {
  margin-bottom: 1em;
  &:last-child {
    margin: 0;
  }
}
.cv-section__sub-section-title {
  margin-bottom: 0.5em;
  @media #{$tablet-up} {
    margin-bottom: 0.25em;
  }
}
