/**
 * @file
 * ...
 */

.cv-section__title {
  margin-bottom: 30px;
}

// Styles for the main sections of the CV.
.cv-section {
  padding: 40px 0;
  border-bottom: 1px solid lightgrey;
  &:last-child {
    border-bottom: 0;
  }
}
// Styles for the sections within the main sections.
.cv-section__sub-section {
  margin-bottom: 30px;
  &:last-child {
    margin: 0;
  }
}

