/**
 * @file
 * Styles for the education qualifications.
 */

.education-qualification__wrapper {
  margin-bottom: em(10);
  @media #{$tablet-up} {
    @include clearfix;
    margin-bottom: em(5);
  }
}
.education-qualification {
  @media #{$tablet-up} {
    float: left;
  }
}
.education-qualification__year {
  @media #{$tablet-up} {
    float: right;
  }
}
