/**
 * @file
 * ...
 */
.employment {
  margin-bottom: em(30);
  &:last-child {
    margin-bottom: 0;
  }
}
.employment__header {
  margin-bottom: em(5);
}
.employment__content {
  margin-bottom: em(5);
}
.employment__dates {
  @media #{$tablet-up} {
    float: right;
  }
}
