/**
 * @file
 * ...
 */
.employment {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
.employment__header {
  margin-bottom: 5px;
}
.employment__content {
  margin-bottom: 5px;
}
.employment__dates {
  line-height: 1.7em;
  @media #{$tablet-up} {
    float: right;
  }
}
