/**
 * @file
 * Site header styles.
 */

.header {
  margin-bottom: em(30);
}
.header--homepage {
  @media (min-width: 1024px) {
    @include clearfix;
    margin-bottom: em(60);
  }
}
.header__content {
  clear: both;
}
