/**
 * @file
 * Site header styles.
 */

.header {
  margin-bottom: 40px;
  @media #{$tablet-up} {
    @include clearfix;
  }
}
.header__main-navigation {
  float: right;
}
.header__content {
  clear: both;
}
