/**
 * @file
 * Styles for adding brand colours to the Fontello icons.
 */

// Drupal
.icon--drupal:before {
  color: #0074bd;
}
.icon--drupal:hover:before {
  color: #005BA4; // Darken 20%
}

// Twitter
.icon--twitter:before {
  color: #55acee;
}
.icon--twitter:hover:before {
  color: #2279BB; // Darken 20%
}

// Gmail
.icon--gmail:before {
  color: #dd4b39;
}
.icon--gmail:hover:before {
  color: #AA1806; // Darken 20%
}

//Github
.icon--github-circled:before {
  color: #333333;
}
.icon--github-circled:hover:before {
  color: #666666; // Lighten 20%
}
