/**
 * @file
 * Styles for adding brand colours to the Fontello icons.
 */

.icon:hover:before {
  transition: color 0.25s;
}

// For icons shown with text
.icon--before-text:before {
  width: 30px;
  margin-right: em(10);
  @media #{$tablet-up} {
    margin-right: em(5);
  }
}

// Drupal
.icon--drupal:before {
  color: $drupal;
}
.icon--drupal:hover:before {
  color: $drupal-darken;
}

// Twitter
.icon--twitter:before {
  color: $twitter;
}
.icon--twitter:hover:before {
  color: $twitter-darken;
}

// Gmail
.icon--gmail:before {
  color: $gmail;
}
.icon--gmail:hover:before {
  color: $gmail-darken;
}

// Github
.icon--github-circled:before {
  color: $github;
}
.icon--github-circled:hover:before {
   color: $github-lighten;
}

// Skype
.icon--skype:before {
  color: $skype;
}
.icon--skype:hover:before {
   color: $skype-darken;
}

// Call
.icon--call:before {
  color: $call;
}
.icon--call:hover:before {
   color: $call-darken;
}
