/**
 * @file
 * Styles for inline content.
 */

.inline-content {
  @media #{$tablet-up} {
    display: inline;
  }
}
.inline-content--spacing {
  @media #{$mobile} {
    margin-bottom: 0.5em;
  }
  @media #{$tablet-up} {
    margin-right: 0.5em;
  }
}
.inline-content--more-spacing {
  @media #{$tablet-up} {
    margin-right: 1em;
  }
}
