/**
 * @file
 * Styles for inline content.
 */

.inline-content {
  @media #{$tablet-up} {
    display: inline;
  }
}
.inline-content--spacing {
  @media #{$mobile} {
    margin-bottom: 0.5em;
  }
  @media #{$tablet-up} {
    margin-right: 0.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}
.inline-content--more-spacing {
  @media #{$tablet-up} {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}
.inline-content--much-more-spacing {
  @media #{$tablet-up} {
    margin-right: 1.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}

