/**
 * @file
 * Styles for inline content.
 */


.inline-content {
  display: inline;
}
.inline-content--tablet-up {
  @media #{$tablet-up} {
    display: inline;
  }
}

.inline-content--spacing {
  margin-right: 0.5em;
  &:last-child {
    margin-right: 0;
  }
}
.inline-content--more-spacing {
  margin-right: 1em;
  &:last-child {
    margin-right: 0;
  }
}
.inline-content--much-more-spacing {
  margin-right: 1.5em;
  &:last-child {
    margin-right: 0;
  }
}

