/**
 * @file
 * Introduction text styles.
 */

.introduction {
  font-size: em(25);
  line-height: em(38,25);
}
.introduction--home {
	display: none;
	@media #{$tablet-up} {
    display: block;
    margin-bottom: em(37,25);
  }
}
