/**
 * @file
 * Styles to add a less unobtrusive link style within sentences.
 */

.sentence-link {
  &:link, &:visited {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px dotted #333;
    text-decoration: none;
    font-weight: normal;
  }
  &:hover {
    transition: color 0.25s, border-bottom 0.25s;
    color: $seagreen;
    text-decoration: none;
    border-bottom: 2px dotted $seagreen;
  }
}
