/**
 * @file
 * Styles to add article teaser styles to a section of content.
 */

.teaser {
  margin-bottom: em(26);
  &:last-child {
    margin-bottom: 0;
  }
}
.teaser__status {
  font-style: italic;
}
.teaser__link {
  line-height: em(28);
}
