/**
 * @file
 * Styles for the resuable layout "Primary First".
 * The first region is wider and more prominent than the second.
 */

.layout-primary-first {
  @media (min-width: 1024px) {
    @include clearfix;
  }
}
.layout-primary-first__primary {
  @media (min-width: 0px) and (max-width: 1023px) {
    margin-bottom: em(30, 16);
  }
  @media (min-width: 1024px) {
    float: left;
    width: 65%;
    margin-right: 5%;
  }
}
.layout-primary-first__secondary {
  @media (min-width: 1024px) {
    float: right;
    width: 30%;
  }
}
