/**
 * @file
 * ...
 */

.layout-halves__first {
  @media #{$tablet-up} {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
}

.layout-halves__second {
  @media #{$tablet-up} {
    float: right;
  }
}
