/**
 * @file
 * Styles for the resuable layout "Primary First".
 * The second region is wider and more prominent than the first.
 */

.layout-primary-second {
  @media #{$tablet-up} {
    @include clearfix;
  }
}
.layout-primary-second__secondary {
  @media #{$tablet-up} {
    float: left;
    width: 30%;
    margin-right: 5%;
  }
}
.layout-primary-second__primary {
  @media #{$tablet-up} {
    float: right;
    width: 65%;
  }
}

// To horizontally align the headings on the left with the content on the right.
.layout-primary-second__list {
  @media #{$tablet-up} {
    margin-top: em(8);
  }
}
.layout-primary-second__teaser {
  @media #{$tablet-up} {
    margin-top: em(6);
  }
}
