/**
 * @file
 * Resuable layout styles for a component with three sections.
 */

.layout-thirds {
  @media #{$tablet-up} {
    @include clearfix;
  }
}
.layout-thirds__first {
  @media #{$mobile} {
    margin-bottom: 1em;
  }
  @media #{$tablet-up} {
    float: left;
    width: 30%;
    margin-right: 5%;
  }
}
.layout-thirds__second {
  @media #{$mobile} {
    margin-bottom: 1em;
  }
  @media #{$tablet-up} {
    float: left;
    width: 30%;
    margin-right: 5%;
  }
}
.layout-thirds__third {
  @media #{$tablet-up} {
    float: right;
    width: 30%;
  }
}
