/**
 * @file
 * Site layout.
 */

.site-container {
  padding: 0 30px;
  @include clearfix;
  @media #{$tablet-up} {
    padding: 0;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}
// Is this right?
.site-container--cv {
  padding: 0 30px;
  background: white;
  @media #{$tablet-up} {
    padding: 0 40px;
    border: 1px solid lightgrey;
  }
}

.rwd-break {
  display: block;
  @media #{$tablet-up} {
    display: none;
  }
}
