/**
 * @file
 * Base element styles for the site.
 */

body {
  // font-family: ;
  font-size: 125%;
  line-height: 1.4;
  // color: ;
  // background: ;
}

h1, h2, h3, h4 {
  // font-family: ;
  // font-weight ;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: blue;
  }
  &:hover {
    // color: ;
    text-decoration: underline;
  }
}

@mixin h1 {
  // font-size: ;
}
@mixin h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
@mixin h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
@mixin h4 {
  // font-size: ;
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}



