/**
 * @file
 * Base element styles for the site.
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFFFF0;
  color: #333;
  margin-bottom: em(60);
  @media #{$tablet-up} {
    font-size: em(20, 16);
     margin-bottom: em(80);
  }
}
h1, h2, h3, h4 {
  font-weight: 600;
}
a {
  &:link, &:visited {
    text-decoration: none;
    color: $pink;
  }
  &:hover {
    transition: border-bottom 0.25s;
    border-bottom: 2px solid $pink;
  }
}
p {
  @media #{$mobile} {
    line-height: em(32);
  }
  font-size: em(20);
  line-height: em(28);
}
ul {
  font-size: em(20);
  line-height: em(28);
}
ul li {
  @media #{$mobile} {
    margin-bottom: em(6);
    &:last-child {
      margin: 0;
    }
  }
}

// Heading styles
h1 {
  font-size: 50px;
  margin-left: em(-4, 80);
  @media #{$tablet-up} {
    font-size: em(80);
  }
}
@mixin h2 {
  font-size: em(32);
  line-height: em(36,32);
}
@mixin h3 {
  font-size: em(25);
  line-height: em(30, 25);
}
@mixin h4 {
  font-size: em(20);
  line-height: em(24, 20);
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}

